.back-btn {
  margin-top: 2rem;
}

.post-title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.post-date {
  text-align: center;
  font-style: italic;
  color: #666;
  margin-bottom: 2rem;
}
