.mixte-container {
  ::ng-deep markdown {

    ul, ol {
      margin-left: 2rem;
      padding-left: 1rem;

      li {
        margin-bottom: 0.5rem;
      }
    }

    a {
      font-weight: bold;
      color: #ff8f00;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      white-space: normal;
      word-break: break-word;
      overflow-wrap: anywhere;
      margin-bottom: 1rem;
    }

    img {
      display: block;
      width: 50%;
      max-width: 100%;
      height: auto;
      margin: 1.5rem auto;
    }
  }
}
