.recipe-content {
  margin-bottom: 100px;
}

.recipe-cover, ::ng-deep .recipe-content markdown img {
  display: block;
  max-width: 50%;
  height: auto;
  margin: 2rem auto;
  border-radius: 0.5rem;
}

::ng-deep .recipe-ingredients ul li {
  list-style-type:square;
  margin-left: 3rem;
  padding-left: 1rem;
}

.recipe-times {
    display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin: 2rem 0;
  
  div {
    min-width: 120px;
    text-align: center;
  }
}