<div class="row">
  <div class="col s12 m6 l4" *ngFor="let dish of skillDishes">
    <div class="petri-dish z-depth-2">
      <h6 class="center-align">{{ dish.title }}</h6>
      <div class="dish-surface">
        <div
          class="colony tooltipped"
          *ngFor="let skill of dish.skills"
          [style.top]="skill.top"
          [style.left]="skill.left"
          [style.width.%]="skill.level / 2"
          [style.height.%]="skill.level / 2"
          [style.background-color]="skill.color"
          [style.--glow-color]="skill.color"
          [ngClass]="skill.shape"
          [attr.data-tooltip]="skill.name"
        >
          <i [class]="skill.icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
