@use "materialize-css/dist/css/materialize.min.css" as *;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex: 1 0 auto;
}

.sidenav-overlay {
  z-index: 995 !important;
}

.sidenav {
  z-index: 996 !important;
}