<footer class="page-footer teal lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">HeddaLab</h5>
        <p class="grey-text text-lighten-4">
          Un laboratoire d'idées, de projets, de photos et de créativité.
        </p>
        <br>
        <br>
        <h5 class="white-text">Contact</h5>
        <a href="mailto:contact@heddalab.com" class="white-text">contact[a]heddalab.com</a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Explorer HeddaLab</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/">Accueil</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/about">À propos</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/projects">Projets</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/explore/pictures">Photos</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/explore/cook">Cuisine</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/explore/creepypasta">Creepypastas</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/explore/it">Tech</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/explore">Tous</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      © 2025 HeddaLab — Tous droits réservés
    </div>
  </div>
</footer>